body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(113, 112, 112);
}
.nav-link{
cursor: pointer;
}
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 100px 20px 100px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  line-height: 30px;
  text-align: justify;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


header{
    height: 550px;
    background-image: linear-gradient(to top, rgba(8, 8, 8, 0.821), rgba(97, 96, 99, 0.697)), url('./images/download.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header h1{
    font-size: 80px;
    margin:120px 0 10px 0 ;
}
header p{
    font-size: 20px;
    font-weight: 600;
}
#start-readingBtn{
    color: white;
    background-color: rgb(28, 28, 28);
}
#start-readingBtn:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight:600;
}
main{
    padding-top: 50px;
}
#recentpost{
    padding-bottom: 50px;
}
main h1{
    font-size: 40px;
}
#contact{
    background-color:rgba(97, 96, 99, 0.697);
    height: 300px;
    margin-top: 50px;
}
#contact-container{
    position: relative;
    margin-top: -200px;
    border-radius: 10px;
    margin-bottom: 150px;
}
#contact-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    padding-bottom: 80px;
}
#con-address{
    padding-left: 50px;
}
#con-message{
    padding-right: 50px;
}
#send-btn{
    background-color: rgb(28, 28, 28);
    color:white;
}
footer{
    background-color:rgb(28, 28, 28) ;
}
@media (max-width:600px) {
    header{
        height: 450px;
        background-image: linear-gradient(to top, rgba(8, 8, 8, 0.821), rgba(97, 96, 99, 0.697)), url('./images/download.jfif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    header h1{
        font-size: 50px;
        margin:100px 0 0 0 ;
    }
    header p{
        font-size: 20px;
        font-weight: 600;
    }
    #start-readingBtn{
        color: white;
        background-color: rgb(28, 28, 28);
    }
    #start-readingBtn:hover{
        color: black;
        background-color: white;
        border: 2px solid black;
        font-weight:600;
    }
    main{
        padding-top: 30px;
    }
    #recentpost{
        padding-bottom: 30px;
    }
    main h1{
        font-size: 30px;
    }
    #contact{
        background-color:rgba(46, 46, 47, 0.697);
        height: 600px;
        margin-top: 50px;
    }
    #contact-container{
        position: relative;
        margin-top: -200px;
        border-radius: 10px;
        margin-bottom: 150px;
    }
    #contact-container h1{
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
        padding-bottom: 80px;
        color: white;
    }
    /* #con-address{
        padding-left: 50px;
    }
    #con-message{
        padding-right: 50px;
    } */
    #send-btn{
        background-color: rgb(28, 28, 28);
        color:white;
    }
    footer{
        background-color:rgb(28, 28, 28) ;
        text-align: center;
    }
}