@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#info{
    background-color: wheat;
    height: 100vh;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#workbtn{
    background-color: orange;
    padding: 12px 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    color: white;
    margin-top: 10px;
    outline: none;
    text-transform: uppercase;
}

i{
    margin-left: 5px;
    color: white;
}

#work{
    margin-top: 250px;
    margin-bottom: 250px;
    text-align: left;
}

#work h1{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    margin: 20px;
}

#work h3{
    margin: 10px;
}

#excel{
    background-color: green;
    padding: 12px 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    color: white;
    margin-top: 10px;
    outline: none;
    text-transform: uppercase;
}

#box{
    margin-left: 10px;
    margin-top: 25px;
}

ul li{
    margin-left: 15px;
}

#logout{
    background-color: wheat;
    padding: 10px;
    text-align: right;
    font-size: 18px;
    color: black;
}

#ico{
    color: black;
}

#lo{
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-position: center;
    text-align: center;
justify-content: center;
}